<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>For us</h3>
        <p>Explore and find the beaty of Bulgaria.</p>
      </div>
      <div class="footer-section">
        <h3>Hot links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Landmarks</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contacts</h3>
        <p><i class="fa-solid fa-envelope"></i> info_bg-landmarks.com</p>
        <p><i class="fa-solid fa-phone"></i> +359 888 123 456</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Explore Bulgaria. All rights reserved.</p>
    </div>
  </footer>